.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0,0,0,.1);
    background-blend-mode: soft-light;
    height: 100vh;
    overflow:hidden;
}

.register {
    display:inline;
    width:50%;
    background-color: rgba(255,255,255,.2);
    backdrop-filter:blur(20px);
    padding:1rem;
    border-radius:5px;
}

.register h5{
    color:white;
    font-weight:bold;
}

.register input{
    padding:10px;
    background-color:rgba(255,255,255,.5);
    backdrop-filter:blur(20px);
    outline:none;
    border:none;
    color:black;
    width:100%;
    border-radius:5px;
    margin-bottom:5px;
}

.register input::placeholder{
    color:#151515;
}

.register input:focus{
    transition:all ease .5s;
    background-color:white;
}

.register a{
    padding: 7px;
    background-color: #014f86;
    color: white;
    margin-right:5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

    .register a:hover {
        transition: all ease .5s;
        background-color: #013a63;
    }

    .register button {
        padding: 5px;
        background-color: #008000;
        color: white;
        border: none;
        outline: none;
        text-decoration: none;
        border-radius: 5px;
    }

        .register button:hover {
            transition: all ease .5s;
            background-color: #006400;
        }

@media screen and (max-width: 600px) {

    .register {
        width: 100%;
        margin: 0 10px;
    }
}